body{
    padding: 0;
    margin: 0;
    background-image: url(img/1645399070_1-phonoteka-org-p-strogii-fon-dlya-saita-2.jpg)
}

.todo_product{
    margin: 30px 50px;
    width: 10%;
    outline: 1px solid black;
    padding: 30px;
    box-shadow: 5px 5px 5px;
}

.but_area{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 20px 30px;

}

.but_area > button{
    width: 10%;
    box-shadow: 5px 5px 5px;
}

.but{
    font-size: 20px;
    padding: 10px 20px;
}